---
import Navbar from "../../components/Navbar.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Panel de administración">
	<Navbar />
	<main class="p-8 max-w-screen-xl">
		<h1 class="text-4xl font-extrabold mb-6 text-gray-800">Ajustes</h1>
		<p class="text-lg text-gray-600">
			Configuración del dispostivo y la red
		</p>

		<section class="pb-12 pt-4">
			<h2 class="text-xl font-semibold mb-4">Nombre del dispositivo</h2>

			<form
				action="javascript:void(0)"
				class="flex flex-col gap-4 max-w-[330px]"
				id="deviceNameForm"
			>
				<input
					type="text"
					id="deviceNameInput"
					name="deviceName"
					class="w-full px-3 py-2 border"
					placeholder="Cargando..."
					required
				/>
				<button
					class="bg-blue-500 text-white py-2 px-4 rounded-lg hover:bg-blue-600 max-w-fit"
					type="submit">Actualizar nombre</button
				>
			</form>

			<p id="successMessage" class="success-message">
				Nombre actualizado correctamente.
			</p>
			<p id="errorMessage" class="error-message">
				Error actualizando el nombre.
			</p>

			<script defer>
				// Cargar el nombre actual del dispositivo al cargar la página
				async function loadDeviceName() {
					try {
						const response = await fetch("/api/get-device-name");
						if (response.ok) {
							const data = await response.json();
							document.getElementById(
								"deviceNameInput",
							).placeholder = data.deviceName;
						} else {
							console.error(
								"Error obteniendo el nombre del dispositivo",
							);
						}
					} catch (error) {
						console.error(
							"Error conectando con el servidor:",
							error,
						);
					}
				}

				// Manejar la actualización del nombre del dispositivo
				const form = document.getElementById("deviceNameForm");
				form.addEventListener("submit", async (e) => {
					e.preventDefault();
					const deviceNameInput =
						document.getElementById("deviceNameInput").value;
					const successMessage =
						document.getElementById("successMessage");
					const errorMessage =
						document.getElementById("errorMessage");

					if (deviceNameInput.length <= 3) {
						alert("El nombre debe de ser mas largo");
						return;
					}
					try {
						const response = await fetch("/api/set-device-name", {
							method: "POST",
							headers: {
								"Content-Type": "application/json",
							},
							body: JSON.stringify({
								newName: deviceNameInput,
							}),
						});

						if (response.ok) {
							successMessage.style.display = "block";
							errorMessage.style.display = "none";
						} else {
							throw new Error("Error al actualizar el nombre");
						}
					} catch (error) {
						successMessage.style.display = "none";
						errorMessage.style.display = "block";
					}
				});
			</script>

			<style>
				.success-message {
					display: none;
					color: green;
					margin-top: 10px;
				}
				.error-message {
					display: none;
					color: red;
					margin-top: 10px;
				}
			</style>
		</section>
		<section class="pb-12">
			<h2 class="text-2xl font-bold mb-4">Cambiar Contraseña</h2>
			<form
				action="javascript:void(0)"
				onsubmit="handleChangePassword(event)"
				class="max-w-[330px]"
			>
				<div class="mb-4">
					<label for="password" class="block text-gray-700"
						>Nueva Contraseña</label
					>
					<div class="flex flex-direction">
						<input
							type="password"
							id="password"
							name="password"
							required
							class="w-full px-3 py-2 border"
							placeholder="Escribe una contraseña nueva..."
						/>
						<button
							type="button"
							class="flex items-center justify-center px-2 border-l-0 bg-white border border-[#333]"
							id="show-button"
						>
							<svg
								class="w-6 h-6 text-gray-800 dark:text-white"
								aria-hidden="true"
								xmlns="http://www.w3.org/2000/svg"
								width="24"
								height="24"
								fill="currentColor"
								viewBox="0 0 24 24"
							>
								<path
									fill-rule="evenodd"
									d="M4.998 7.78C6.729 6.345 9.198 5 12 5c2.802 0 5.27 1.345 7.002 2.78a12.713 12.713 0 0 1 2.096 2.183c.253.344.465.682.618.997.14.286.284.658.284 1.04s-.145.754-.284 1.04a6.6 6.6 0 0 1-.618.997 12.712 12.712 0 0 1-2.096 2.183C17.271 17.655 14.802 19 12 19c-2.802 0-5.27-1.345-7.002-2.78a12.712 12.712 0 0 1-2.096-2.183 6.6 6.6 0 0 1-.618-.997C2.144 12.754 2 12.382 2 12s.145-.754.284-1.04c.153-.315.365-.653.618-.997A12.714 12.714 0 0 1 4.998 7.78ZM12 15a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"
									clip-rule="evenodd"></path>
							</svg>
						</button>
						<button
							type="button"
							class="hidden flex items-center justify-center px-2 border-l-0 bg-white border border-[#333]"
							id="hide-button"
						>
							<svg
								class="w-6 h-6 text-gray-800 dark:text-white"
								aria-hidden="true"
								xmlns="http://www.w3.org/2000/svg"
								width="24"
								height="24"
								fill="currentColor"
								viewBox="0 0 24 24"
							>
								<path
									d="m4 15.6 3.055-3.056A4.913 4.913 0 0 1 7 12.012a5.006 5.006 0 0 1 5-5c.178.009.356.027.532.054l1.744-1.744A8.973 8.973 0 0 0 12 5.012c-5.388 0-10 5.336-10 7A6.49 6.49 0 0 0 4 15.6Z"
								></path>
								<path
									d="m14.7 10.726 4.995-5.007A.998.998 0 0 0 18.99 4a1 1 0 0 0-.71.305l-4.995 5.007a2.98 2.98 0 0 0-.588-.21l-.035-.01a2.981 2.981 0 0 0-3.584 3.583c0 .012.008.022.01.033.05.204.12.402.211.59l-4.995 4.983a1 1 0 1 0 1.414 1.414l4.995-4.983c.189.091.386.162.59.211.011 0 .021.007.033.01a2.982 2.982 0 0 0 3.584-3.584c0-.012-.008-.023-.011-.035a3.05 3.05 0 0 0-.21-.588Z"
								></path>
								<path
									d="m19.821 8.605-2.857 2.857a4.952 4.952 0 0 1-5.514 5.514l-1.785 1.785c.767.166 1.55.25 2.335.251 6.453 0 10-5.258 10-7 0-1.166-1.637-2.874-2.179-3.407Z"
								></path>
							</svg>
						</button>
					</div>
				</div>
				<button
					type="button"
					class="bg-blue-500 text-white px-4 py-2 rounded-lg"
					data-modal-target="passwordModal"
					data-modal-toggle="passwordModal">Nueva Contraseña</button
				>
				<!-- Modal de cambiar contraseña -->
				<div
					id="passwordModal"
					tabindex="-1"
					class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto h-full"
				>
					<div class="relative w-full max-w-md h-full md:h-auto">
						<div
							class="relative bg-white rounded-lg shadow dark:bg-gray-700"
						>
							<!-- Modal header -->
							<div
								class="flex justify-between items-center p-5 rounded-t border-b dark:border-gray-600"
							>
								<h3
									class="text-xl font-medium text-gray-900 dark:text-white"
								>
									Cambiar Contraseña
								</h3>
								<button
									type="button"
									class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center"
									data-modal-hide="passwordModal"
								>
									<svg
										class="w-5 h-5"
										fill="currentColor"
										viewBox="0 0 20 20"
										xmlns="http://www.w3.org/2000/svg"
									>
										<path
											fill-rule="evenodd"
											d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
											clip-rule="evenodd"></path>
									</svg>
								</button>
							</div>
							<!-- Modal body -->
							<div class="p-6 space-y-6">
								<p
									class="text-base leading-relaxed text-gray-500 dark:text-gray-400"
								>
									¿Estás seguro de que deseas cambiar la
									contraseña?
								</p>
							</div>
							<!-- Modal footer -->
							<div
								class="flex items-center p-6 space-x-2 rounded-b border-t border-gray-200 dark:border-gray-600"
							>
								<button
									type="submit"
									class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600"
									data-modal-hide="passwordModal"
								>
									Confirmar
								</button>
								<button
									type="reset"
									class="text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600"
									data-modal-hide="passwordModal"
								>
									Cancelar
								</button>
							</div>
						</div>
					</div>
				</div>
			</form>

			<script defer>
				const showButton = document.getElementById("show-button");
				const hideButton = document.getElementById("hide-button");

				function hidePass() {
					document.getElementById("password").type = "password";
					showButton.classList.remove("hidden");
					hideButton.classList.add("hidden");
				}

				function showPass() {
					document.getElementById("password").type = "text";
					showButton.classList.add("hidden");
					hideButton.classList.remove("hidden");
				}

				async function handleChangePassword(event) {
					event.preventDefault();

					const newPassword =
						document.getElementById("password").value;

					// Realiza la solicitud POST al servidor para cambiar la contraseña
					const response = await fetch("/api/set-password", {
						method: "POST",
						headers: {
							"Content-Type": "application/json",
						},
						body: JSON.stringify({ password: newPassword }),
					});

					if (response.ok) {
						alert("Contraseña cambiada exitosamente");
						window.location.href = "/login"; // Redirige al login después de cambiar la contraseña
					} else {
						alert("Error al cambiar la contraseña");
					}
				}
			</script>
		</section>
		<section class="pb-12">
			<h2 class="text-2xl font-bold mb-4">Actualizar sistema</h2>
			<form action="javascript:void(0)" onsubmit="update(event)">
				<button
					class="bg-blue-500 text-white py-2 px-4 rounded-lg hover:bg-blue-600"
					data-modal-target="updateModal"
					data-modal-toggle="updateModal"
					type="button"
				>
					Actualizar Equipo
				</button>
				<div
					id="updateMessage"
					class="hidden mt-4 p-4 bg-yellow-100 border-l-4 border-yellow-500 text-yellow-700"
				>
					El equipo se está actualizando, por favor espera unos
					segundos y recarga esta página.
				</div>

				<!-- Modal de reinicio -->
				<div
					id="updateModal"
					tabindex="-1"
					class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto h-full"
				>
					<div class="relative w-full max-w-md h-full md:h-auto">
						<div
							class="relative bg-white rounded-lg shadow dark:bg-gray-700"
						>
							<!-- Modal header -->
							<div
								class="flex justify-between items-center p-5 rounded-t border-b dark:border-gray-600"
							>
								<h3
									class="text-xl font-medium text-gray-900 dark:text-white"
								>
									Confirmar Actualización
								</h3>
								<button
									type="button"
									class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center"
									data-modal-hide="updateModal"
								>
									<svg
										class="w-5 h-5"
										fill="currentColor"
										viewBox="0 0 20 20"
										xmlns="http://www.w3.org/2000/svg"
									>
										<path
											fill-rule="evenodd"
											d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
											clip-rule="evenodd"></path>
									</svg>
								</button>
							</div>
							<!-- Modal body -->
							<div class="p-6 space-y-6">
								<p
									class="text-base leading-relaxed text-gray-800 dark:text-gray-400"
								>
									¿Estás seguro de que deseas actualizar el
									dispositivo?
								</p>
							</div>
							<!-- Modal footer -->
							<div
								class="flex items-center p-6 space-x-2 rounded-b border-t border-gray-200 dark:border-gray-600"
							>
								<button
									type="submit"
									class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600"
									data-modal-hide="updateModal"
								>
									Confirmar
								</button>
								<button
									type="reset"
									class="text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600"
									data-modal-hide="updateModal"
								>
									Cancelar
								</button>
							</div>
						</div>
					</div>
				</div>
			</form>
			<script defer>
				async function update(event) {
					const updateMessage =
						document.getElementById("updateMessage");

					// Realiza la solicitud POST al servidor para reiniciar el equipo
					const response = await fetch("/api/update", {
						method: "POST",
						headers: {
							"Content-Type": "application/json",
						},
					});
					const result = await response.json();

					if (result.success) {
						updateMessage.classList.remove("hidden");

						setTimeout(() => {
							window.location.href = "/";
							window.location.reload();
						}, 5000);
					} else {
						alert(
							"Hubo un error al intentar actualizar el dispositivo.",
						);
						updateMessage.classList.add("hidden");
					}
				}
			</script>
		</section>
		<section class="pb-12">
			<h2 class="text-2xl font-bold mb-4">Reiniciar</h2>
			<form action="javascript:void(0)" onsubmit="reboot(event)">
				<button
					class="bg-red-500 text-white py-2 px-4 rounded-lg hover:bg-red-600"
					data-modal-target="rebootModal"
					data-modal-toggle="rebootModal"
					type="button"
				>
					Reiniciar Equipo
				</button>
				<div
					id="rebootMessage"
					class="hidden mt-4 p-4 bg-yellow-100 border-l-4 border-yellow-500 text-yellow-700"
				>
					El equipo se está reiniciando, por favor espera unos
					segundos y recarga esta página.
				</div>

				<!-- Modal de reinicio -->
				<div
					id="rebootModal"
					tabindex="-1"
					class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto h-full"
				>
					<div class="relative w-full max-w-md h-full md:h-auto">
						<div
							class="relative bg-white rounded-lg shadow dark:bg-gray-700"
						>
							<!-- Modal header -->
							<div
								class="flex justify-between items-center p-5 rounded-t border-b dark:border-gray-600"
							>
								<h3
									class="text-xl font-medium text-gray-900 dark:text-white"
								>
									Confirmar Reinicio
								</h3>
								<button
									type="button"
									class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center"
									data-modal-hide="rebootModal"
								>
									<svg
										class="w-5 h-5"
										fill="currentColor"
										viewBox="0 0 20 20"
										xmlns="http://www.w3.org/2000/svg"
									>
										<path
											fill-rule="evenodd"
											d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
											clip-rule="evenodd"></path>
									</svg>
								</button>
							</div>
							<!-- Modal body -->
							<div class="p-6 space-y-6">
								<p
									class="text-base leading-relaxed text-gray-800 dark:text-gray-400"
								>
									¿Estás seguro de que deseas reiniciar el
									dispositivo?
								</p>
							</div>
							<!-- Modal footer -->
							<div
								class="flex items-center p-6 space-x-2 rounded-b border-t border-gray-200 dark:border-gray-600"
							>
								<button
									type="submit"
									class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600"
									data-modal-hide="rebootModal"
								>
									Confirmar
								</button>
								<button
									type="reset"
									class="text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600"
									data-modal-hide="rebootModal"
								>
									Cancelar
								</button>
							</div>
						</div>
					</div>
				</div>
			</form>
			<script defer>
				async function reboot(event) {
					const rebootMessage =
						document.getElementById("rebootMessage");

					// Realiza la solicitud POST al servidor para reiniciar el equipo
					const response = await fetch("/api/reboot", {
						method: "POST",
						headers: {
							"Content-Type": "application/json",
						},
					});
					const result = await response.json();

					if (result.success) {
						rebootMessage.classList.remove("hidden");

						setTimeout(() => {
							window.location.href = "/";
							window.location.reload();
						}, 5000);
					} else {
						alert(
							"Hubo un error al intentar reiniciar el dispositivo.",
						);
						rebootMessage.classList.add("hidden");
					}
				}
			</script>
		</section>

		<script defer>
			window.onload = () => {
				showButton.addEventListener("click", showPass);
				hideButton.addEventListener("click", hidePass);
				loadDeviceName();
			};
		</script>
	</main>
</Layout>
