---
import Navbar from "../../components/Navbar.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Panel de administración">
	<Navbar />
	<main class="p-8 max-w-screen-xl mx-auto">
		<h1 class="text-4xl font-extrabold mb-6 text-gray-800">Users</h1>
		<p class="text-lg text-gray-600">
			Manage users and permissions from this page.
		</p>
	</main>
</Layout>
